<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head> -->
<!-- <body>
        <nav>
            <a href="/events/">Home</a>
            
          </nav> -->
          <%- include('../partials/header') %>
          <div class="container">
     <h1> RSVP and Connect !</h1>


            <div class="gallery">
                <ul>
                    <li>Name</li>
                    <li>Location</li>
                    <li> Date </li>


            </div>

            <table id="list">
              <thead>
                <tr>
                  <th>Title</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% events.forEach(function(ev) { %>
                  <tr>
                    <td><%= ev.name %></td> <!--figure out how to print just name-->
                  </tr>
                  <tr>
                    <td> <form action="/events/<%= ev._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                  </td> <!--figure out how to print just name-->
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            <!-- </body>
            </html> -->  

