<%- include('../partials/header') %>

<div class="new-form">
    <div class="form-title">
        <h2> Lets Get Some Order </h2> 
        <h3>But First: </h3>
        <p>How does NASA organize a party? - They planet.</p>   
    </div>
    <form action="/events" method="POST">
        <div class="form-row">
            <div class="form-column">

     <label>Label your goal!</label>
     <input type="text" name="name"><br>

    <label>Timing is Everything.</label><br>
    <input type="datetime-local" name="schedule"><br>

    <label>Get detailed.</label>
    <textarea name="description" placeholder="List out your goal!" style="height:150px"></textarea><br>

    <label>How urgent is it?</label>
    <select name="location">
    <option value="Chilling">Chilling</option>
    <option value="House on fire">House on fire</option></select>
    <button class="button3" type="submit">
    <a href="/events"> Cancel </a></button>
    <button class="button2" type="submit">Create</button>
</div>
    </div>
</div>

</form>






