 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>RSVP</title>
</head>
<body>
    <nav>
    <a href="/">Log in</a>
	</nav>
    <div id="overlay">
        <div class="home-content">
            <div id="text">
                 <h2>Nizer.</h2>
                 <p>Create You're Own Reality <br> 
                    By <b>Organizing</b> Your Future!</div></p><br>
                    <button class="button">
                        <a href="/events">Get Started</a></button>
                </div> 
            </div>
        </body>
        </html> 




        