@import url(//fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap);


* {
  box-sizing: border-box;
  font-family: 'Josefin', sans-serif;
  color: #be5980;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  background-image: url('../images/Pastel\ Background.jpg');
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}


h2 {
  font-family: 'Josefin', sans-serif;

}

body > nav {
  grid-area: nav;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: rgb(255, 221, 221);
  color: rgb(255, 255, 255);
  text-emphasis: 10px;
  
}
/* 
body > a {
  height: 100vh;
  text-decoration: none; */


.home-content {
  padding-bottom: 10px;
  text-align: center;
  height: 200px;
  position: relative;
} 


#text{
  margin-top: 20%;
  margin-left: 50%;
  margin-right: 10%;
  margin-bottom: 0%;
  font-size: 40px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
} 


#overlay {
  margin: 100px;
  background-color: rgba(243, 230, 211, 0.9); /* background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.button {
  background-color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;
}

.button2 {
  background-color: rgb(252, 236, 236);
  padding: .5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;
}

.button3 {
  background-color: rgb(255, 255, 255);
  padding: .5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  font-size: 20px;
}

.button4 {
  background-color: none;
  padding: .3rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  font-size: 14px;
}

.form-title {
  text-align: center;
}

.new-form {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 10px;
}

.form-row:after{
    content: "";
    display: table;
    clear: both;
}

.form-column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

table {
  border-width: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  /* width: 90%; */
  background-color: #ffffff;
} 


th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

tr:nth-child(odd){
  background-color: #f2f2f2
}

th {
  background-color: #ffffff;
  color: white;
}

.header {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  background-color: #ffffff;
}

.checkbox {
  accent-color: rgb(143, 26, 26);
}