* {
  box-sizing: border-box;
  font-family:'Josefin Sans', sans-serif;
  color: #41a8bd;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('../images/party.jpeg');
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
 
}

body > nav {
  grid-area: nav;
  background-color: #111111;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

body > a {
  height: 100vh;
}

.home-content {
  text-align: center;
}


