<%- include('../partials/header') %>

<h2> new event </h2>

<form action="/details" method="POST">
<%- include('form')%> 
    <a href="/events">Cancel</a>
    <button type="submit">Create</button>
</form>


